.body {
    font-family: 'Gilroy', sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

p .text-decoration {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}